body{
    height: 100vh;
    font-family: 'Roboto', sans-serif;

}

header{
    background-image: url(../img/pizza4.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 35vh;
}

.voltar{
    width: fit-content;
    position: absolute;
    top: 3.1rem;
    left: 1.7rem;
}

main{
    height: 35vh;
}

.comentarios{
    background-color: white;
    height: 620px;
    width: 100vw;
    border-radius: 32px 32px 0px 0px;
    position: absolute;
    bottom: 0;
    padding: 37px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.avaliacao{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    gap: 10px;
}

.avaliacao h1{
    color: rgba(0, 0, 0, 0.60);
    font-size: 30px;
}

.avaliacao h2{
    color: #23CB98;
    font-size: 28px;
}

.avaliacao p{
    color: #999999;
    font-size: 15px;
}

.estrelas{
    display: flex;
}

.estrelas img{
    width: 30px;
}



footer{
    background-color: yellow;
    height: 30vh;
}
