body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    gap: 16px;
}

body::after {
    position: absolute;
    content: "";
    display: block;
    background: linear-gradient(0deg, #fff0 0%, var(--cor-principal) 158%);
    width: 100vw;
    height: 100vh;
    z-index: -1;
    inset: 0;
}

header {
    padding: 32px 24px 0px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

header img {
    height: 60px;
    width: 60px;
}

.titulo h2 {
    color: white;
    font-weight: 500;
}

.titulo p {
    color: white;
    font-weight: 400;
}



main {
    height: 80vh;
    width: 100vw;
}

.pesquisa{
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius:15px;
}

#txtBusca{
    background-image: url(../img/pesquisar.webp);
    background-repeat: no-repeat;
    background-position: calc(356px - 36px);
    float:left;
    border-radius:13px;
    background-color:white;
    font-style:italic;
    font-size:18px;
    border:none;
    height:56px;
    width:356px;
  }

.categorias p{
    color: white;
    font-weight: 400;
    text-shadow: 2px 2px grey;
    
}


footer {
    height: 10vh;
    width: 100vw;
    background-color: green;
}