body{
    background-image: url(../img/pizza_back-1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 32px 24px;
    font-family: 'Roboto', sans-serif;
}

body::after{
    position: absolute;
    content: "";
    display: block;
    background: linear-gradient(0deg, #fff0 0%, var(--cor-principal) 100%);
    width: 100vw;
    height: 100vh;
    z-index: -1;
    inset: 0;
}

header{
    height: 180px;
}

main{
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 100px;
    justify-content: space-evenly;
}

.login-informacoes{
    color: #ffff;
    gap: 100px;
}

.login-informacoes h1{
    width: 230px;
}

.login-informacoes p{
    width: 300px;
}

.inserir-container{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 50vh;
}
input{
    height: 50px;
    width: 300px;
    gap: 50px;
    font-size: 16px;
    line-height: 18.75px;
    padding-left: 32px;
    color: white;
    background-color: transparent;
    border-bottom: solid white 2px;
    border-top: none;
    border-left: none;
    border-right: none;

}

#email{
    background-image: url(../img/email.webp);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 28px;
}

input::placeholder{
    color: white;
}

#senha{
    background-image: url(../img/Lock.webp);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 29px;
}

footer{
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    display: grid;
}
.entrar p{
    height: 19px;
    color: white;
    width: 100%;
    display: flex;
    justify-content: end;
}

.criar-conta{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: baseline;
}

.criar-conta p{
    color: white;
}

.criar-conta a{
    color: white;
    font-size: 27px;
    font-weight: 700;
    text-shadow: 2px 2px 2px black;
}

