body{
    background-image: url(../img/pizza_back-1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 32px 24px;
    font-family: 'Roboto', sans-serif;
}

body::after{
    position: absolute;
    content: "";
    display: block;
    background: linear-gradient(0deg, #fff0 0%, var(--cor-principal) 100%);
    width: 100vw;
    height: 100vh;
    z-index: -1;
    inset: 0;
}

header{
    height: 180px;
}

main{
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 100px;
}

.login-informacoes{
    color: #ffff;
    gap: 100px;
}

.login-informacoes h1{
    width: 230px;
}

.login-informacoes p{
    width: 300px;
}

input{
    height: 30px;
    padding-left: 32px;
    color: white;
    background-color: transparent;
    border-bottom: solid white;
    border-top: none;
    border-left: none;
    border-right: none;

}

#email{
    background-image: url(../img/email.webp);
    background-repeat: no-repeat;
    background-position: left;
}

input::placeholder{
    color: white;
}

footer{
    flex-grow: 1;
    background-color: green;
}